<!DOCTYPE html>
<html>
	<html lang="en" ng-app="pickominoGame" class='container-game'>
	<head>
		<meta charset="utf-8" />
		<title>Symfony/Angular Pickomino</title>
		{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap/dist/css/bootstrap.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('assets/bower_components/font-awesome/css/font-awesome.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" type="text/css" />
		<link rel="stylesheet" href="{{ asset('bundles/app/css/board.css') }}" type="text/css" />
		{% endblock %}
	</head>
    <body>	
		
		{% if app.user %}
			<div ng-controller="LoginController as loginCtrl" ng-init="loginCtrl.setUser('{{ app.user.id }}', '{{ app.user.firstname }}')"></div>
 		{% endif %}
 		
		<div>
			<game-header></game-header>
			
        	{% block body %}
        	{% endblock %}
		
			<common-footer></common-footer>
		</div>    	
        
        {% block javascripts %}
        	<!-- Define asset base dir for use in js files -->
        	<script>
    			var assetsBaseDir = "{{ asset('/') }}";
			</script>
        
        	<!-- Vendors -->
			<script src="{{ asset('assets/bower_components/jquery/dist/jquery.js') }}"></script>
			<script src="{{ asset('assets/bower_components/bootstrap/dist/js/bootstrap.js') }}"></script>
			<script src="{{ asset('assets/bower_components/angular/angular.js') }}"></script>
			<script src="{{ asset('assets/bower_components/angular-touch/angular-touch.js') }}"></script>
			<script src="{{ asset('assets/bower_components/angular-animate/angular-animate.js') }}"></script>
			<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
			<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

			<script src="{{ asset('bundles/app/js/app.module.js') }}"></script>
			
			<!-- Directives -->
			<script src="{{ asset('bundles/app/js/directives/common-header.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-header.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-body.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-login.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-registration.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-setup.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-board.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-grill-worms.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-player-options.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-active-dice.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-frozen-dice.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/game-player-worms.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/tutorial-board.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/common-footer.js') }}"></script>
			<script src="{{ asset('bundles/app/js/directives/tooltip.js') }}"></script>
			
			<!-- Services -->
			<script src="{{ asset('bundles/app/js/services/set-dice-image.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/set-worm-image.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/get-worm-type.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/active-dice-array.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/frozen-dice-array.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/freeze-dice-action.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/take-worm-action.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/steal-worm-action.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/grill-worms-array.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/game-action.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/player-notification.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/player-worms-array.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/check-valid-dice-freeze.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/check-valid-worm-take.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/check-valid-worm-steal.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/active-dice-filter.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/random-dice.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/roll-dice.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/bunk-penalty.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/game-state.js') }}"></script>
			<script src="{{ asset('bundles/app/js/services/set-player-number.js') }}"></script>
			
			<!-- Controllers -->
			<script src="{{ asset('bundles/app/js/controllers/game-login-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-header-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-registration-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-setup-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-player-options-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-grill-worms-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-active-dice-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-frozen-dice-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-player-worms-layout-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-player-one-worms-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-player-two-worms-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/game-body-controller.js') }}"></script>
			<script src="{{ asset('bundles/app/js/controllers/tutorial-action-controller.js') }}"></script>

			
			<script>
				$(function() {
					$('.nav-tabs a').click(function (e) {
						e.preventDefault();
						$(this).tab('show');
					});
				});
			</script>	
        {% endblock %}
    </body>
</html>
