<div class = "login" ng-controller="LoginController as loginCtrl">
<h1>Welcome to Pickomino!</h1>
<h3>Implemented using Symfony-Angular-PostgreSQL</h3>
<p><img src="{{ asset('bundles/app/img/symfony-logo.png') }}" class ="logo_img" /> + <img src="{{ asset('bundles/app/img/AngularJS-Shield-large.png') }}" class ="logo_img" /> + <img src="{{ asset('bundles/app/img/Postgresql-logo.png') }}" class="logo_img" /></p>
<br/>
<a href='{{ url('fos_user_registration_register') }}' class = 'btn btn-primary inset'>Register</a>
<br/>
<br/>
<a href='{{ url('guest_registration') }}' class = 'btn btn-primary inset' name="Guest Login">Guest Login</a>
</div>